@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('../assets/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('../assets/fonts/Instrument_Serif/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent; 
}

html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    background-color: #FFFBF6;
  }
html::-webkit-scrollbar,
main::-webkit-scrollbar {
    display: none;
}

#gap {
  padding: 20vh;
  transition: padding 700ms ease;
}

@media (max-width: 768px) {
  #gap {
    padding: 5vh;
  }
}

.gap-text {
  display: inline-block;
  overflow: hidden;

  max-width: 200px;
  white-space: nowrap;

  opacity: 1;

  transition:
    max-width 400ms ease,
    opacity 300ms ease;
}

.tag {
  background-color: #FFE7E7;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 0.75vh;
  padding-bottom: 0.75vh;
  margin-right: 1vh;
  border-radius: 10px;
  cursor: default;
}

.tag:hover {
  box-shadow: #7b7b7b 0px 4px 5px -1px, #7b7b7b 0px 2px 3px -1px;
}

#project-title {
  font-family: 'Instrument Serif', serif;
  font-size: 5vh;
}

.project-card {
  padding-left: 3vh;
  padding-right: 3vh;
  padding-bottom: 2vh;
  padding-top: 1vh;
  border-radius: 10px;
  background-color: #99B5D0;
}

#learnMore {
  width: fit-content;
  transition: gap 200ms ease;
}

#learnMore:hover {
  gap: 2vh;
}

.cardlink {
  display: inline-flex;
}
