@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Instrument Sans';
  src: url('./Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('./Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('./Instrument_Serif/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('./Instrument_Serif/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent; 
}

html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    background-color: #FFFBF6;
  }
html::-webkit-scrollbar,
main::-webkit-scrollbar {
    display: none;
}