@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../assets/fonts/Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('../assets/fonts/Instrument_Serif/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('../assets/fonts/Instrument_Serif/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent; 
}

html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    background-color: #FFFBF6;
  }
html::-webkit-scrollbar,
main::-webkit-scrollbar {
    display: none;
}

#gap {
  padding: 20vh;
  transition: padding 700ms ease;
}

@media (max-width: 768px) {
  #gap {
    padding: 5vh;
  }
}

.gap-text {
  display: inline-block;
  overflow: hidden;

  max-width: 200px;
  white-space: nowrap;

  opacity: 1;

  transition:
    max-width 400ms ease,
    opacity 300ms ease;
}